@media(min-width: 1200px) {
    /* Main - posts */
    main .services {
      max-width: 1440px;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem 1rem;
    }
}